@use "@/shared/styles/variables" as vars;

.tagDetailsModal {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 0;

    &__row {
        display: flex;
        gap: 16px;
    }

    &__actions {
        display: flex;
        gap: 12px;
        margin-top: 8px;
    }
}

