@use "sass:color";
@use "@/shared/styles/variables" as vars;

.tagsTableToolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    gap: 16px;

    &__left {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__selectedCount {
        font-size: 0.875rem;
        font-weight: 500;
        color: vars.$text-secondary-light;
    }
}

:global(.dark) {
    .tagsTableToolbar {
        &__selectedCount {
            color: vars.$text-secondary-dark;
        }
    }
}