@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.select {
    &__root {
        margin-bottom: 16px;
    }

    &_error {
        :global(.MuiOutlinedInput-root) {
            &:hover :global(.MuiOutlinedInput-notchedOutline) {
                border-color: vars.$red;
            }
        }
    }

    &_fullWidth {
        width: 100%;
    }

    // Стилизация для состояния фокуса - применяем напрямую как в Input
    :global(.MuiOutlinedInput-root) {
        @include mixins.transition(border-color, 0.3s);
        @include mixins.theme-bg(vars.$bg-secondary-light, vars.$bg-secondary-dark);

        :global(.MuiOutlinedInput-notchedOutline) {
            border-color: rgba(vars.$intoxicate, 0.5);
            @include mixins.transition(border-color, 0.3s);
        }

        &:hover :global(.MuiOutlinedInput-notchedOutline) {
            border-color: vars.$intoxicate;
        }

        &:global(.Mui-focused) :global(.MuiOutlinedInput-notchedOutline) {
            border-width: 2px;
            border-color: vars.$intoxicate;
        }
    }

    // Стилизация label - применяем напрямую как в Input
    :global(.MuiInputLabel-root) {
        @include mixins.text-style(null, null, 500, null);
        @include mixins.theme-color(vars.$text-secondary-light, vars.$text-secondary-dark);

        &:global(.Mui-focused) {
            color: vars.$intoxicate !important;
        }

        &:global(.Mui-error) {
            color: vars.$red !important;
        }
    }

    &__input {
        :global(.MuiSelect-select) {
            @include mixins.theme-color(vars.$text-primary-light, vars.$text-primary-dark);
        }

        // Стилизация иконки стрелки
        :global(.MuiSelect-icon) {
            @include mixins.theme-color(vars.$text-secondary-light, vars.$text-secondary-dark);
        }

        &:global(.Mui-focused) {
            :global(.MuiSelect-icon) {
                color: vars.$intoxicate;
            }
        }
    }

    &__selectRoot {

        :global(.MuiSelect-icon) {
            @include mixins.theme-color(vars.$text-secondary-light, vars.$text-secondary-dark);
        }

        &:global(.Mui-focused) {
            :global(.MuiSelect-icon) {
                color: vars.$intoxicate;
            }
        }
    }

    &__helperText {
        margin-top: 4px;
        margin-bottom: 0;
        @include mixins.text-style(12px, 1.43, null, null);
        @include mixins.theme-color(vars.$text-secondary-light, vars.$text-secondary-dark);
        min-height: 20px;
        display: block;
        box-sizing: border-box;

        &:global(.Mui-error) {
            color: vars.$red;
        }
    }

    &__helperPlaceholder {
        visibility: hidden !important;
        min-height: 20px;
        display: block;
        margin-top: 4px;
        margin-bottom: 0;
        @include mixins.text-style(12px, 1.43, null, null);
        box-sizing: border-box;
    }
}
