@use '@/shared/styles/variables' as vars;
@use '@/shared/styles/mixins' as mixins;

.portCard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 12px;
  @include mixins.theme-bg(vars.$bg-secondary-light, vars.$bg-secondary-dark);
  @include mixins.theme-border(vars.$border-color-light, vars.$border-color-dark);
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;

  &:hover {
    border-color: vars.$intoxicate;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    gap: 8px;
  }

  &__name {
    margin: 0;
    @include mixins.text-style(13px, null, 600, null);
    @include mixins.theme-color(vars.$text-primary-light, vars.$text-primary-dark);
    min-width: 0;
    flex: 1;
    display: flex;
  }

  &__nameText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__infoText {
    @include mixins.text-style(12px, null, null, null);
    @include mixins.theme-color(vars.$text-secondary-light, vars.$text-secondary-dark);
  }

  &__devicesCount {
    @include mixins.text-style(12px, null, null, null);
    @include mixins.theme-color(vars.$text-secondary-light, vars.$text-secondary-dark);
  }

  &__headerActions {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
  }

  &__menu {
    min-width: 180px;
  }

  &__menuItem {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__menuText {
    @include mixins.text-style(13px, null, 500, null);
  }
}
