@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.confirmModal {
    &__message {
        margin: 0 0 24px 0;
        font-size: 1rem;
        line-height: 1.5;
        @include mixins.theme-color(vars.$text-primary-light, vars.$text-primary-dark);
    }

    &__actions {
        display: flex;
        gap: 12px;
    }
}