@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.portsList {
    &__error {
        padding: 16px;
        text-align: center;
        @include mixins.text-style(14px, null, null, vars.$red);
    }

    &__empty {
        padding: 16px;
        text-align: center;
        @include mixins.text-style(14px, null, null, vars.$text-secondary-light);
    }
}

:global(.dark) {
    .portsList {
        &__error {
            color: vars.$red;
        }

        &__empty {
            color: vars.$text-secondary-dark;
        }
    }
}