.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;

  &__body {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
  }

  &__main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &__container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    flex: 1;
  }
}