@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.searchInput {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    &__icon {
        position: absolute;
        left: 12px;
        @include mixins.theme-color(vars.$text-secondary-light, vars.$text-secondary-dark);
        z-index: 1;
        pointer-events: none;
    }

    &__input {
        padding-left: 40px !important;
    }
}

