@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.sidebar {
    position: fixed;
    left: 0;
    top: 79px;
    width: 240px;
    height: calc(100vh - 79px);
    @include mixins.theme-bg(vars.$bg-primary-light, vars.$bg-primary-dark);
    border-right: 1px solid;
    @include mixins.theme-border(vars.$border-color-light, vars.$border-color-dark);
    @include mixins.transition(width, 0.3s);
    display: flex;
    flex-direction: column;
    z-index: 100;
    overflow: hidden;

    &_collapsed {
        width: 0;
        overflow: hidden;

        .sidebar__header {
            transform: translateX(-100%);
        }

        .sidebar__content {
            transform: translateX(-100%);
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        border-bottom: 1px solid;
        @include mixins.theme-border(vars.$border-color-light, vars.$border-color-dark);
        flex-shrink: 0;
        @include mixins.transition(transform, 0.3s);
        min-width: 240px;
    }

    &__title {
        @include mixins.text-style(16px, null, 600, null);
        @include mixins.theme-color(vars.$text-primary-light, vars.$text-primary-dark);
    }

    &__toggle {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mixins.theme-color(vars.$text-primary-light, vars.$text-primary-dark);

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);

            @include mixins.dark-theme {
                background-color: rgba(255, 255, 255, 0.05);
            }
        }
    }

    &__toggle-icon {
        @include mixins.text-style(24px, 1, bold, null);
        display: block;
    }

    &__content {
        flex: 1;
        padding: 16px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        @include mixins.transition(transform, 0.3s);
        min-width: 240px;
    }

    &__addButton {
        margin-bottom: 16px;
        flex-shrink: 0;
    }

    &__ports {
        flex: 1;
        min-width: 0;
    }

    &__floatingButtons {
        height: 40px;
        padding: 8px;
        position: fixed;
        left: 8px;
        top: 83px;
        z-index: 101;
        display: flex;
        align-items: center;
        gap: 8px;
        @include mixins.theme-bg(vars.$bg-secondary-light, vars.$bg-secondary-dark);
        border: 1px solid transparent;
        border-radius: 100px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0s 0s;

        &_visible {
            opacity: 1;
            pointer-events: auto;
            transition: opacity 0.3s 0s;
        }
    }

}