@use "@/shared/styles/variables" as vars;

.form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__row {
        display: flex;
        gap: 16px;
    }

    &__actions {
        display: flex;
        gap: 12px;
    }
}