@use "@/shared/styles/variables" as vars;

.themeToggle {
  color: vars.$text-secondary-light !important;
  transition: all 0.2s ease;

  &:hover {
    background-color: rgba(vars.$intoxicate, 0.1) !important;
    color: vars.$intoxicate !important;
  }

  &:active {
    transform: scale(0.95);
  }
}

:global(.dark) {
  .themeToggle {
    color: vars.$text-secondary-dark !important;

    &:hover {
      background-color: rgba(vars.$intoxicate, 0.2) !important;
      color: vars.$intoxicate !important;
    }
  }
}