@use "variables" as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Bitter", sans-serif;
  font-size: 16px;
  color: vars.$text-primary-light;
  background-color: vars.$bg-primary-light;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  color: vars.$text-primary-dark;
  background-color: vars.$bg-primary-dark;
} 

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}