@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.skeleton {
    @include mixins.theme-property(background-color, rgba(vars.$intoxicate, 0.1), rgba(vars.$intoxicate, 0.15));

    &::after {
        background: linear-gradient(90deg,
                transparent,
                rgba(vars.$intoxicate, 0.2),
                transparent) !important;
        
        @include mixins.dark-theme {
            background: linear-gradient(90deg,
                    transparent,
                    rgba(vars.$intoxicate, 0.3),
                    transparent) !important;
        }
    }

    &_text {
        // Стили для текстового варианта
    }

    &_rectangular {
        // Стили для прямоугольного варианта
    }

    &_rounded {
        border-radius: 8px;
    }

    &_circular {
        // Стили для круглого варианта
    }
}