@use "@/shared/styles/variables" as vars;

.tagsTable {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__table {

        // Переопределяем стили для этой таблицы, если нужно
        :global(.table__wrapper) {
            border: 1px solid vars.$border-color-light;
            border-radius: 8px;
        }

        :global(.table__content) {
            table-layout: fixed;

            td {
                padding: 8px;
                overflow: hidden;
                min-width: 0;
            }

            tr {
                &_editing {
                    background-color: rgba(vars.$intoxicate, 0.1);
                }
            }
        }
    }
}

:global(.dark) {
    .tagsTable {
        &__table {
            :global(.table__wrapper) {
                border-color: vars.$border-color-dark;
            }

            :global(.table__content) {
                tr {
                    &_editing {
                        background-color: rgba(vars.$intoxicate, 0.2);
                    }
                }
            }
        }
    }
}