@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/variables" as vars;

.button {
  font-family: "Bitter", sans-serif !important;

  &__root {
    text-transform: none !important;
    font-weight: 600 !important;
    font-size: 14px !important;

    &:disabled {
      cursor: not-allowed !important;

    }
  }

  &_contained {
    // Цвета остаются стандартными от MUI
  }

  &_outlined {
    // Цвета остаются стандартными от MUI
  }

  &_text {
    // Цвета остаются стандартными от MUI
  }

  &_fullWidth {
    width: 100%;
  }
}