@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.devicesList {
    &__error {
        padding: 16px;
        text-align: center;
        color: vars.$red;
    }

    &__empty {
        padding: 24px;
        text-align: center;
        @include mixins.text-style(15px, null, null, vars.$text-secondary-light);
    }
}

:global(.dark) {
    .devicesList {
        &__error {
            color: vars.$red;
        }

        &__empty {
            color: vars.$text-secondary-dark;
        }
    }
}