@use "@/shared/styles/variables" as vars;

.tagsTableRow {
    &_editing {
        background-color: rgba(vars.$intoxicate, 0.1);
    }

    &__empty {
        color: vars.$text-secondary-light;
        font-style: italic;
    }
}

:global(.dark) {
    .tagsTableRow {
        &_editing {
            background-color: rgba(vars.$intoxicate, 0.2);
        }

        &__empty {
            color: vars.$text-secondary-dark;
        }
    }
}

