@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    @include mixins.theme-bg(vars.$bg-primary-light, vars.$bg-primary-dark);
}