@use "@/shared/styles/variables" as vars;

.loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: vars.$bg-primary-light;
}

:global(.dark) {
    .loaderContainer {
        background-color: vars.$bg-primary-dark;
    }
}