@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.homePage {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 400px;
        text-align: center;
    }

    &__title {
        @include mixins.text-style(48px, 1.2, 700, null);
        @include mixins.theme-color(vars.$text-primary-light, vars.$text-primary-dark);
        margin: 0 0 16px 0;
    }

    &__description {
        @include mixins.text-style(18px, 1.5, null, null);
        @include mixins.theme-color(vars.$text-secondary-light, vars.$text-secondary-dark);
        margin: 0;
    }
}