@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.userRow {
  &__name,
  &__email,
  &__role,
  &__date,
  &__actions {
    padding: 14px;
    @include mixins.text-style(14px, null, null, vars.$text-primary-light);
    text-align: center;
  }

  &__email {
    color: vars.$text-secondary-light;
  }

  &__select {
    padding: 4px 6px;
    border: 1px solid vars.$steam;
    border-radius: 4px;
    @include mixins.text-style(14px, null, null, null);
    background-color: vars.$bg-secondary-light;
    cursor: pointer;
    transition: border-color 0.2s ease;

    &:hover:not(:disabled) {
      border-color: vars.$intoxicate;
    }

    &:focus {
      outline: none;
      border-color: vars.$intoxicate;
      box-shadow: 0 0 0 3px rgba(vars.$intoxicate, 0.1);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__current-user {
    @include mixins.text-style(null, null, 500, vars.$intoxicate);
  }

  &__error {
    display: block;
    margin-top: 4px;
    @include mixins.text-style(12px, null, null, vars.$red);
  }
}

:global(.dark) {
  .userRow {
    &__name,
    &__email,
    &__role,
    &__date {
      color: vars.$text-primary-dark;
    }

    &__email {
      color: vars.$text-secondary-dark;
    }

    &__select {
      background-color: vars.$bg-secondary-dark;
      border-color: vars.$border-color-dark;
      color: vars.$text-primary-dark;

      &:hover:not(:disabled) {
        border-color: vars.$intoxicate;
      }
    }

    &__current-user {
      color: vars.$intoxicate;
    }

    &__error {
      color: vars.$red;
    }
  }
}