@use "@/shared/styles/variables" as vars;
@use "@/shared/styles/mixins" as mixins;

.userRow {
  &__name,
  &__email,
  &__role,
  &__date,
  &__actions {
    padding: 14px;
    @include mixins.text-style(14px, null, null, null);
    @include mixins.theme-color(vars.$text-primary-light, vars.$text-primary-dark);
    text-align: center;
  }

  &__email {
    @include mixins.theme-color(vars.$text-secondary-light, vars.$text-secondary-dark);
  }

  &__select {
    padding: 4px 6px;
    border: 1px solid;
    @include mixins.theme-border(vars.$steam, vars.$border-color-dark);
    border-radius: 4px;
    @include mixins.text-style(14px, null, null, null);
    @include mixins.theme-bg(vars.$bg-secondary-light, vars.$bg-secondary-dark);
    @include mixins.theme-color(vars.$text-primary-light, vars.$text-primary-dark);
    cursor: pointer;
    @include mixins.transition(border-color);

    &:hover:not(:disabled) {
      border-color: vars.$intoxicate;
    }

    &:focus {
      outline: none;
      border-color: vars.$intoxicate;
      box-shadow: 0 0 0 3px rgba(vars.$intoxicate, 0.1);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__current-user {
    @include mixins.text-style(null, null, 500, vars.$intoxicate);
  }

  &__error {
    display: block;
    margin-top: 4px;
    @include mixins.text-style(12px, null, null, vars.$red);
  }
}
