@use '@/shared/styles/variables' as vars;
@use '@/shared/styles/mixins' as mixins;

.userRow {
  &__email {
    @include mixins.theme-color(vars.$text-secondary-light, vars.$text-secondary-dark);
  }

  &__select {
    :global(.MuiOutlinedInput-root) {
      min-height: 32px !important;
    }

    :global(.MuiSelect-select) {
      padding: 0px !important;
    }

    :global(.MuiFormHelperText-root) {
      display: none !important;
      height: 0 !important;
      margin: 0 !important;
      min-height: 0 !important;
      padding: 0 !important;
    }
  }

  &__current-user {
    @include mixins.text-style(null, null, 500, vars.$intoxicate);
  }
}
