@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/variables" as vars;

.appLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__content {
        display: flex;
        flex: 1;
        margin-top: 79px;
        position: relative;
    }

    &__main {
        flex: 1;
        margin-left: 240px;
        overflow-y: auto;
        scrollbar-gutter: stable; // Резервируем место для скроллбара
        transition: margin-left 0.3s ease;
        height: calc(100vh - 79px);

        &_collapsed {
            margin-left: 0;

            .appLayout__breadcrumbs {
                padding-left: 110px;
            }
        }

        &_fullWidth {
            margin-left: 0;
        }
    }

    &__breadcrumbs {
        display: flex;
        align-items: center;
        height: 49px;
        padding: 8px 16px;
        transition: padding-left 0.3s ease;
    }

    &__contentWrapper {
        padding: 16px 64px;
        flex: 1;
        overflow-y: auto;
        scrollbar-gutter: stable; // Резервируем место для скроллбара
    }
}